#container 
{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color:#EB1D36;
  max-height:90pt;
}
#item
{
  margin-left: 10pt;
  font-size: 30pt;
  font-weight:500;
} 
#item2
{
  margin-left: 65%;
  width: 30%;
}
#container p
{
  color: white;
}

#select
{
  margin: auto;
  display: flex;
}