<ion-content>
  <ion-icon name="arrow-back-circle-outline" (click)="home()" class="home"></ion-icon>
  <div class="container1">
    <ion-img src="../../assets/bibingka(1).png" class="img-adobo"></ion-img>
  </div>
  
  <div class="container2">
  <h1>Ingredients</h1>
  <h3>Sangkap sa Bibingka</h3><br>
  <div class="inside-container1-2">
  <ion-img src="../../assets/plus.png" class="img-plus"></ion-img><p class="flex1"> 1 tasa ng galapong (rice flour)</p>
  </div>
  </div>
  
  <div class="container2">
    <div class="inside-container1-2">
    <ion-img src="../../assets/plus.png" class="img-plus"></ion-img><p class="flex1">1/2 tasa ng all-purpose na harina</p>
    </div>
    </div>
  
    <div class="container2">
      <div class="inside-container1-2">
      <ion-img src="../../assets/plus.png" class="img-plus"></ion-img><p class="flex1">2 kutsarang baking powder</p>
      </div>
      </div>
  
      
      <div class="container2">
        <div class="inside-container1-2">
        <ion-img src="../../assets/plus.png" class="img-plus"></ion-img><p class="flex1">1/2 tasa ng tubig</p>
        </div>
        </div>
  
        <div class="container2">
          <div class="inside-container1-2">
          <ion-img src="../../assets/plus.png" class="img-plus"></ion-img><p class="flex1">2 itlog, binate</p>
          </div>
        </div>

        <div class="container2">
          <div class="inside-container1-2">
          <ion-img src="../../assets/plus.png" class="img-plus"></ion-img><p class="flex1">1/2 tasa ng asukal</p>
          </div>
        </div>

        <div class="container2">
          <div class="inside-container1-2">
          <ion-img src="../../assets/plus.png" class="img-plus"></ion-img><p class="flex1">2 kutsarang mantikilya, natunaw</p>
          </div>
        </div>

        <div class="container2">
          <div class="inside-container1-2">
          <ion-img src="../../assets/plus.png" class="img-plus"></ion-img><p class="flex1">75 gramo keso, ginayat</p>
          </div>
        </div>

        <div class="container2">
          <div class="inside-container1-2">
          <ion-img src="../../assets/plus.png" class="img-plus"></ion-img><p class="flex1">2 itlog na maalat, sliced</p>
          </div>
        </div>

        <div class="container2">
          <div class="inside-container1-2">
          <ion-img src="../../assets/plus.png" class="img-plus"></ion-img><p class="flex1">2/3 tasa ng kakang gata, 
            <br>hindi dapat malamig</p>
          </div>
        </div>


        <div class="container2">
          <h1>Procedure</h1>
          <ol type="1">
            <li>I-preheat ang oven hanggang 350 ° F.</li>
            <li>Linyahan ang 3 (5-pulgada) baking pans ng parchment paper o dahon ng saging.</li>
            <li> Sa isang mangkok, pagsamahin ang harina ng bigas, all-purpose flour, at baking powder.</li>
            <li>Sa isa pang mangkok, pagsamahin ang tubig, itlog, asukal, coconut cream, at mantikilya. Haluin nang mabuti..</li>
            <li>Dahan-dahang ibuhos ang mga tuyong sangkap (pinaghalong harina at baking powder) sa mga basang 
              sangkap, gamit ang isang spatula mahalo ng mabuti.</li>
            <li>Ilagay sa baking pan hanggang mapuno ng 3/4. Lagyan ng keso at maalat na itlog sa itaas.</li>
            <li>Lutuin sa oven sa loob ng 20 hanggang 25 minuto.</li>
          </ol>
        </div>

          <br><br><br><br><br>
  <ion-button color="primary" class="btn1" expand="block"><ion-icon slot="start" name="print-sharp">Print PDF</ion-icon></ion-button>