<ion-content>
  <ion-icon name="arrow-back-circle-outline" (click)="home()" class="home"></ion-icon>
  <div class="container1">
    <ion-img src="../../assets/sinigang(1).png" class="img-adobo"></ion-img>
  </div>
  
  <div class="container2">
  <h1>Ingridients</h1><br>
  <div class="inside-container1-2">
  <ion-img src="../../assets/plus.png" class="img-plus"></ion-img><p class="flex1">1/2 kilo ng karne, sliced</p>
  </div>
  </div>
  
  <div class="container2">
    <div class="inside-container1-2">
    <ion-img src="../../assets/plus.png" class="img-plus"></ion-img><p class="flex1">2 Malaking sibuyas,sliced</p>
    </div>
    </div>
  
    <div class="container2">
      <div class="inside-container1-2">
      <ion-img src="../../assets/plus.png" class="img-plus"></ion-img><p class="flex1">1 bawang</p>
      </div>
      </div>
  
      <div class="container2">
        <div class="inside-container1-2">
        <ion-img src="../../assets/plus.png" class="img-plus"></ion-img><p class="flex1">1 medium sized okra (optional)</p>
        </div>
        </div>
  
        <div class="container2">
          <div class="inside-container1-2">
          <ion-img src="../../assets/plus.png" class="img-plus"></ion-img><p class="flex1">1 taliKangkong</p>
          </div>
        </div>

          <div class="container2">
            <div class="inside-container1-2">
            <ion-img src="../../assets/plus.png" class="img-plus"></ion-img><p class="flex1">1 Knorr cubes (pork)</p>
            </div></div>

            <div class="container2">
              <div class="inside-container1-2">
              <ion-img src="../../assets/plus.png" class="img-plus"></ion-img><p class="flex1">1 sachet Maggi Magic<br> Sarap Seasoning mix</p>
              </div></div>

              <div class="container2">
                <div class="inside-container1-2">
                <ion-img src="../../assets/plus.png" class="img-plus"></ion-img><p class="flex1">Mantika</p>
                </div></div>

                <div class="container2">
                  <div class="inside-container1-2">
                  <ion-img src="../../assets/plus.png" class="img-plus"></ion-img><p class="flex1">Tubig</p>
                  </div></div>

                  <div class="container2">
                    <div class="inside-container1-2">
                    <ion-img src="../../assets/plus.png" class="img-plus"></ion-img><p class="flex1">Asin</p>
                    </div>
          </div>

          <div class="container2">
            <h1>Procedure</h1>
            <ol type="1">
              <li>Igisa ang bawang at sibuyas</li>
              <li>Bahagyang iprito ang hiwang baboy hintayin ito mag light brown.</li>
              <li>Lagyan ng 5 tasang tubig</li>
              <li>Isunod ang okra.</li>
              <li>ilagay ang mga pampalasa 2 tbs patis, knorr cubes , 1 sachet maggi magic sarap seasoning mix</li>
            </ol>
          </div>
          <br><br><br><br><br>
  <ion-button color="primary" class="btn1" expand="block"><ion-icon slot="start" name="print-sharp">Print PDF</ion-icon></ion-button>
  </ion-content>