
<ion-content>
    <ion-icon name="arrow-back-circle-outline" (click)="home()" class="home"></ion-icon>
  <div class="container1">
    <ion-img src="../../assets/adobo1.png" class="img-adobo"></ion-img>
  </div>
  
  <div class="container2">
  <h1>Ingridients</h1>
  <div class="inside-container1-2">
  <ion-img src="../../assets/plus.png" class="img-plus"></ion-img><p class="flex1"> Sibuyas & Bawang</p>
  </div>
  </div>
  
  <div class="container2">
    <div class="inside-container1-2">
    <ion-img src="../../assets/plus.png" class="img-plus"></ion-img><p class="flex1">Suka & toyo</p>
    </div>
    </div>
  
    <div class="container2">
      <div class="inside-container1-2">
      <ion-img src="../../assets/plus.png" class="img-plus"></ion-img><p class="flex1">Karne</p>
      </div>
      </div>
  
      <div class="container2">
        <div class="inside-container1-2">
        <ion-img src="../../assets/plus.png" class="img-plus"></ion-img><p class="flex1">Bay Leaf</p>
        </div>
        </div>
  
        <div class="container2">
          <div class="inside-container1-2">
          <ion-img src="../../assets/plus.png" class="img-plus"></ion-img><p class="flex1">Paminta</p>
          </div>
          </div>

          <div class="container2">
            <h1>Procedure</h1>
            <ol type="1">
              <li>Igisa ang bawang at sibuyas</li>
              <li>Ilagay ang nakahiwang karne, hantayin itong mag light-brown</li>
              <li>isunod ang toyo't suka</li>
              <li>Hintayin kumulo, pag ka kulo ilagay ang mga pampalasa paminta at bay leaf..</li>
              <li>Lagyan 2-4tbs ng asukal tansya tansyahin</li>
            </ol>
          </div>
          <br><br><br><br><br>
  <ion-button color="primary" class="btn1" expand="block"><ion-icon slot="start" name="print-sharp">Print PDF</ion-icon></ion-button>