<ion-content>
  <ion-icon name="arrow-back-circle-outline" (click)="home()" class="home"></ion-icon>
  <div class="container1">
    <ion-img src="../../assets/yema(1).png" class="img-adobo"></ion-img>
  </div>
  
  <div class="container2">
  <h1>Ingredients</h1>
  <h3>Para sa cake:</h3><br>
  <div class="inside-container1-2">
  <ion-img src="../../assets/plus.png" class="img-plus"></ion-img><p class="flex1"> 200 grams of pancake mix</p>
  </div>
  </div>
  
  <div class="container2">
    <div class="inside-container1-2">
    <ion-img src="../../assets/plus.png" class="img-plus"></ion-img><p class="flex1">1/2 - 2/3 cup of water</p>
    </div>
    </div>
  
    <div class="container2">
      <div class="inside-container1-2">
      <ion-img src="../../assets/plus.png" class="img-plus"></ion-img><p class="flex1">Margarine o Butter</p>
      </div>
      </div>
  
      
      <div class="container2">
        <h3>Para sa frosting:</h3><br>
        <div class="inside-container1-2">
        <ion-img src="../../assets/plus.png" class="img-plus"></ion-img><p class="flex1">3 itlog</p>
        </div>
        </div>
  
        <div class="container2">
          <div class="inside-container1-2">
          <ion-img src="../../assets/plus.png" class="img-plus"></ion-img><p class="flex1">1 can condense milk</p>
          </div>
        </div>

        <div class="container2">
          <div class="inside-container1-2">
          <ion-img src="../../assets/plus.png" class="img-plus"></ion-img><p class="flex1">vanilla</p>
          </div>
        </div>

 
        <div class="container2">
          <h3>Toppings:</h3><br>
          <div class="inside-container1-2">
          <ion-img src="../../assets/plus.png" class="img-plus"></ion-img><p class="flex1">Ginadgag na Keso</p>
          </div>
        </div>

        <div class="container2">
          <h1>Procedure</h1>
          <h3>Cake:</h3>
          <ol type="1">
            <li>Pahiran ng buttero margarine ang loob ng mga llanera. siguraduhing malagyan
               lahat para hindi dumikit ang cake sa llanera.</li>
            <li> Sa isang kaldero o malaking bowl, paghaluin ang pancake mix at tubig o milk
            Sa ginawa ko, tubig lang ang ginamit ko. Haluing mabuti.</li>
            <li> Ilagay sa mga llanera. Huwag masyadong punuin ang bawat llanera.
            Hanggang kalahati lamang kasi aalsa pa iyan kapag niluto na. Sa ginawa ko,
            kasya hanggang sa apat na llanera.</li>
            <li>Takpan ng foil ang bawat lanera.</li>
            <li>1-steam sa loob ng 10 minuto.</li>
            <li>Ilipat ng lalagyan. Pwede sa plato o sa plastic container.</li>
            <li>Itabi at palamigin.</li>
          </ol>
        </div>

    <div class="container2">
        <h3>Yema Frosting</h3>
        <ol type="1">
          <li>Ihiwalay ang egg yolk sa egg white. Egg yolk o iyong kulay dilaw lang ng itlog
            ang ating gagamitin sa paggawa ng yema cake.</li>
          <li>Paghalu-haluin ang egg yolk, condensed milk, 2-3 drops ng vanilla sa isang
            lalagyan. Haluing mabuti hanggang maging smooth.</li>
          <li>Isalang sa lutuan. Pakuluin.</li>
          <li>Haluin nang dahan-dahan habang pinapakulo hanggang sa lumapot ito. Mas
            malapot, mas masarap dahil mas lasang yema.</li>
          <li>Palamigin. Ayos na! May yema ka na!</li>
        </ol>
      </div>

    <div class="container2">
      <h3>Yema Cake:</h3>
      <ol>
        <li>Ipahid ang yema sa ibabaw ng mga cakes.</li>
        <li>Lagyan ng ginadgad na kes0 sa ibabaw ang bawat yema cakes.</li>
        <li>Ihain.</li>
      </ol>
    </div>

          
          <br><br><br><br><br>
  <ion-button color="primary" class="btn1" expand="block"><ion-icon slot="start" name="print-sharp">Print PDF</ion-icon></ion-button>