<ion-content>
  <ion-icon name="arrow-back-circle-outline" (click)="home()" class="home" color="danger"></ion-icon>
  <div class="container1">
    <ion-img src="../../assets/bukopie(1).png" class="img-adobo"></ion-img>
  </div>
  
  <div class="container2">
    <h1>Ingridients</h1>
    <h2>Para sa crust: </h2>
    <div class="inside-container1-2">
      <ion-img src="../assets/plus.png" class="img-plus"></ion-img><p class="flex1"> 1/2 tasa ng mantikilya </p>
    </div>
  </div>
  
  <div class="container2">
    <div class="inside-container1-2">
      <ion-img src="../assets/plus.png" class="img-plus"></ion-img><p class="flex1"> 2 tasa ng all-purpose flour</p>
    </div>
  </div>

  <div class="container2">
    <div class="inside-container1-2">
      <ion-img src="../assets/plus.png" class="img-plus"></ion-img><p class="flex1"> 1/2 tasa ng tubig </p> 
    </div>
  </div>
  
  <div class="container2">
    <div class="inside-container1-2">
      <ion-img src="../assets/plus.png" class="img-plus"></ion-img><p class="flex1"> 1 tsurita ng asin </p>
    </div>
  </div>
  
  <div class="container2">
    <h2>Para sa palaman: </h2>
    <div class="inside-container1-2">
      <ion-img src="../assets/plus.png" class="img-plus"></ion-img><p class="flex1">3/4 tasa ng puting asukal</p>
    </div>
  </div>

  <div class="container2">
    <div class="inside-container1-2">
      <ion-img src="../assets/plus.png" class="img-plus"></ion-img><p class="flex1">1/2 tasa ng tubig</p>
    </div>
  </div>

  <div class="container2">
    <div class="inside-container1-2">
      <ion-img src="../assets/plus.png" class="img-plus"></ion-img><p class="flex1">1/2 tasa ng all-purpose cream</p>
    </div>
  </div>
  
  <div class="container2">
    <div class="inside-container1-2">
      <ion-img src="../assets/plus.png" class="img-plus"></ion-img><p class="flex1"> 3 tasa ng niyog </p>
    </div>
  </div>

          <div class="container2">
            <h1>Procedure</h1>
            <h3>Para sa Palaman:</h3>
            <ol type="1">
              <li>Maghalo ng cornstarch at tubig sa maliit na mangkok.</li>
              <li>Magsalang ng kawali sa katamtamang apoy.</li>
              <li>Ibuhos ang all-purpose cream at idagdad ang asukal na puti.</li>
              <li>Isunod ang niyog at ang cornstarch na may tubig.</li>
              <li>Haluing mabuti hanggang sa lumapot.</li>
            </ol>

            <h3>Para sa Crust:</h3>
            <ol type="1">
              <li>Sa isang mangkok, ibuhos ang all-purpose flour, asin at mantikilya. Haluing mabuti hanggang maging isang buo.</li>
              <li>Magdagdag ng tubig at haluin upang makamit ang nasi na kapal.</li>
              <li>Hatiin ang masa sa dalawang pantay na bahagi.</li>
              <li>Irolyo ang masa at ilagay at hulamhin ito sa lalagyanan(pie pan).</li>
              <li>Irolyo ang natitirang masa para sa crust.</li>
              <li>Ilagay ang palaman o filling sa pie pan at gamit ang ginawang crust takpan ito ng maayos.</li>
              <li>Butasan ang ibabaw gamit ang tinidor at lutuin ito ng 40 minuto sa oven na may 200 degree Celsius.</li>
            </ol>
          </div>
          <br><br><br><br><br>
  <ion-button color="primary" class="btn1" expand="block"><ion-icon slot="start" name="print-sharp">Print PDF</ion-icon></ion-button>
  </ion-content>