<ion-content>
  <ion-icon name="arrow-back-circle-outline" (click)="home()" class="home" color="danger"></ion-icon>
  <div class="container1">
    <ion-img src="../../assets/lechon(1).png" class="img-adobo"></ion-img>
  </div>
  
  <div class="container2">
  <h1>Ingredients</h1>
  <h3>Para sa Marinade:</h3><br>
  <div class="inside-container1-2">
  <ion-img src="../../assets/plus.png" class="img-plus"></ion-img><p class="flex1">1 tangkay ng lemon grass<br> (chopped)</p>
  </div>
  </div>
  
  <div class="container2">
    <div class="inside-container1-2">
    <ion-img src="../../assets/plus.png" class="img-plus"></ion-img><p class="flex1">1 tangkay ng leeks (chopped)</p>
    </div>
    </div>
  
    <div class="container2">
      <div class="inside-container1-2">
      <ion-img src="../../assets/plus.png" class="img-plus"></ion-img><p class="flex1">2 piraso ng laurel</p>
      </div>
      </div>
      
      <div class="container2">
        <div class="inside-container1-2">
        <ion-img src="../../assets/plus.png" class="img-plus"></ion-img><p class="flex1">1 tbsp. ground black peppercorn</p>
        </div>
        </div>
  
        <div class="container2">
          <div class="inside-container1-2">
          <ion-img src="../../assets/plus.png" class="img-plus"></ion-img><p class="flex1">5 cloves ng bawang (crushed)</p>
          </div>
        </div>

        <div class="container2">
          <div class="inside-container1-2">
          <ion-img src="../../assets/plus.png" class="img-plus"></ion-img><p class="flex1">1/4 tasa ng asukal</p>
          </div>
        </div>

        <div class="container2">
          <div class="inside-container1-2">
          <ion-img src="../../assets/plus.png" class="img-plus"></ion-img><p class="flex1">5 tasa ng tubig</p>
          </div>
        </div>

        <div class="container2">
          <h3>Para sa Stuffings:</h3><br>
          <div class="inside-container1-2">
          <ion-img src="../../assets/plus.png" class="img-plus"></ion-img><p class="flex1">1 tangkay lemon grass</p>
          </div>
          </div>
          
          <div class="container2">
            <div class="inside-container1-2">
            <ion-img src="../../assets/plus.png" class="img-plus"></ion-img><p class="flex1">1 tangkay leeks</p>
            </div>
            </div>
          
            <div class="container2">
              <div class="inside-container1-2">
              <ion-img src="../../assets/plus.png" class="img-plus"></ion-img><p class="flex1">2 sibuyas (chopped)</p>
              </div>
              </div>
              
              <div class="container2">
                <div class="inside-container1-2">
                <ion-img src="../../assets/plus.png" class="img-plus"></ion-img><p class="flex1">2 clover ng bawang crushed)</p>
                </div>
                </div>

                <div class="container2">
                  <h3>For the skin rub:</h3><br>
                  <div class="inside-container1-2">
                  <ion-img src="../../assets/plus.png" class="img-plus"></ion-img><p class="flex1">1/4 tasa ng rock salt</p>
                  </div>
                  </div>

        <div class="container2">
          <h1>Procedure</h1>
          <ol type="1">
            <li> Hugasan at linisin ang balat ng pork belly.</li>
            <li> Sa malaking pot, ilagay ang mga pang marinate tubig lemon grass, leeks, 
              laurel, peppercorn,bawang , asukal at asin.</li>
            <li>Initin ito sa loob ng 5minutes hangang sa maglabas ito ng mabangong aroma.pagkatapos 
              nito maglabas ng aroma patayin ang apoy at hayaan itong lumamig.</li>
            <li>Pagsamahin ang pork belly at pang marinate at ilagay ito sa<br> freezer.hayaan itong mababad buong gabi.</li>
            <li>Lagyan ang pork belly ng stuffing( lemon grass, leeks, sibuyas at bawang) sa gitnang bahagi.</li>
            <li>Lagyan ng tali ang pork belly upang hindi ito iluwa ang mga stuffing na nilagay sa loob tsaka ilagay
              ang 1/4 na tasa ng rock salt at ilagay sa refrigirator (1hr) upang ito ay maging crispy.</li>
            <li>Ilagay ang pork belly sa roast pan at i-cover ito ng aluminum foil.</li>
            <li>Ilagay ito sa oven painitin ng 190 C sa loob ng dalawang oras, pagkatapos ng dalawang oras tangalin ang aluminum foil
              at ilagay ulit sa oven sa loob ng isang oras.</li>
          </ol>
        </div>

          
          <br><br><br><br><br>
  <ion-button color="primary" class="btn1" expand="block"><ion-icon slot="start" name="print-sharp">Print PDF</ion-icon></ion-button>