
<ion-content>
  <ion-icon name="arrow-back-circle-outline" (click)="home()" class="home" color="danger"></ion-icon>
  <div class="container1">
    <ion-img src="../../assets/halohalo(1).png" class="img-adobo"></ion-img>
  </div>
  
  <div class="container2">
    <h1>Ingridients</h1>
    <div class="inside-container1-2">
      <ion-img src="../assets/plus.png" class="img-plus"></ion-img><p class="flex1"> 4 na tasa ng yelo(shaved) </p>
    </div>
  </div>
  
  <div class="container2">
    <div class="inside-container1-2">
      <ion-img src="../assets/plus.png" class="img-plus"></ion-img><p class="flex1"> 1 piraso ng saging(nakahiwa) </p>
    </div>
  </div>

  <div class="container2">
    <div class="inside-container1-2">
      <ion-img src="../assets/plus.png" class="img-plus"></ion-img><p class="flex1"> 1/4 tasa ng macapuno </p> 
    </div>
  </div>
  
  <div class="container2">
    <div class="inside-container1-2">
      <ion-img src="../assets/plus.png" class="img-plus"></ion-img><p class="flex1"> 1/2 tasa ng mais </p>
    </div>
  </div>
  
  <div class="container2">
    <div class="inside-container1-2">
      <ion-img src="../assets/plus.png" class="img-plus"></ion-img><p class="flex1"> 1 tasa ng evaporada </p>
    </div>
  </div>

  <div class="container2">
    <div class="inside-container1-2">
      <ion-img src="../assets/plus.png" class="img-plus"></ion-img><p class="flex1"> 1/2 tasa ng ampaw </p>
    </div>
  </div>

  <div class="container2">
    <div class="inside-container1-2">
      <ion-img src="../assets/plus.png" class="img-plus"></ion-img><p class="flex1"> 1 tasa ng leche flan/ube halaya </p>
    </div>
  </div>
  
  <div class="container2">
    <div class="inside-container1-2">
      <ion-img src="../assets/plus.png" class="img-plus"></ion-img><p class="flex1"> 4 na sandok ng sorbetes </p>
    </div>
  </div>

  <div class="container2">
    <div class="inside-container1-2">
      <ion-img src="../assets/plus.png" class="img-plus"></ion-img><p class="flex1"> 2 mangga </p>
    </div>
  </div>

  <div class="container2">
    <div class="inside-container1-2">
      <ion-img src="../assets/plus.png" class="img-plus"></ion-img><p class="flex1"> 1 tasa ng langka </p>
    </div>
  </div>

  <div class="container2">
    <div class="inside-container1-2">
      <ion-img src="../assets/plus.png" class="img-plus"></ion-img><p class="flex1"> 1/4 tasa ng nata de coco </p>
    </div>
  </div>
  
          <div class="container2">
            <h1>Procedure</h1>
            <ol type="1">
              <li>Ihanda ang apat na baso.</li>
              <li>Hiwain ang mangga sa maliit na parte.</li>
              <li>Hatiin ang bawat sangkap sa 4 na pantay na bahagi</li>
              <li>Ilagay ang kalahating tasa ng yeso sa bawat baso.</li>
              <li>Sa bawat baso, maglagay ng 2 tasa ng evaporada sa ibabaw ng yelo.</li>
              <li>Lagyan ng isang sandok ng sorbetes ang bawat baso.</li>
              <li>Magbubod ng ampaw sa ibabaw ng sorbetes.</li>
            </ol>
          </div>
          <br><br><br><br><br>
  <ion-button color="primary" class="btn1" expand="block"><ion-icon slot="start" name="print-sharp">Print PDF</ion-icon></ion-button>