<ion-header>

</ion-header>

<ion-content class="ion-padding ion-text-center">
    <img src="../../assets/Tsibug-Logo.png" class="logo" />
    <div class="title">
        <p class="welcome">Welcome</p>
        <p>Pampalasang Pinoy</p>
    </div>

    <div class="ion-margin-top">
      <ion-button expand="block" fill="outline" (click)="signup()" color="danger">Sign-Up</ion-button>
      <ion-button expand="block" class="ion-margin-top" (click)="login()" color="primary">LOGIN</ion-button>
  </div>
</ion-content>
