<ion-content>
  <ion-icon name="arrow-back-circle-outline" (click)="home()" class="home" ></ion-icon>
  <div class="container1">
    <ion-img src="../../assets/putobungbong.png" class="img-adobo"></ion-img>
  </div>
  
  <div class="container2">
    <h1>Ingridients</h1>
    <div class="inside-container1-2">
      <ion-img src="../assets/plus.png" class="img-plus"></ion-img><p class="flex1"> 2 baso white glutinous rice </p>
    </div>
  </div>
  
  <div class="container2">
    <div class="inside-container1-2">
      <ion-img src="../assets/plus.png" class="img-plus"></ion-img><p class="flex1"> 1 baso black glutinous rice<br>(pirurutong) </p>
    </div>
  </div>

  <div class="container2">
    <div class="inside-container1-2">
      <ion-img src="../assets/plus.png" class="img-plus"></ion-img><p class="flex1"> 1 baso muscovado o palm sugar</p> 
    </div>
  </div>
  
  <div class="container2">
    <div class="inside-container1-2">
      <ion-img src="../assets/plus.png" class="img-plus"></ion-img><p class="flex1"> 1 baso grated fresh coconut </p>
    </div>
  </div>
  
  <div class="container2">  
    <div class="inside-container1-2">
      <ion-img src="../assets/plus.png" class="img-plus"></ion-img><p class="flex1"> Mantikilya</p>
    </div>
  </div>

  <div class="container2">
    <div class="inside-container1-2">
      <ion-img src="../assets/plus.png" class="img-plus"></ion-img><p class="flex1"> Tubig </p>
    </div>
  </div>

          <div class="container2">
            <h1>Procedure</h1>
            <ol type="1">
              <li>Sa isang malaking bowl ihalo ang parehong glutinous rice, 
                lagyan ng tamang tubig upang maibabad ito at hayaan ng 24 oras sa isang malamig na lugar</li>
              <li>Paagusin ang tubig mula sa kanin at ilagay sa isang food processor o blender, 
                pulsohin upang magkaroon ng mabutil at basang consistency. Lagyan ng konting tubig habang ginigiling. 
                Kailangan makuha ang isang magaspang ngunit pinong consistency tulad ng basa-basang buhangin</li>
              <li>Ilagay ang timpla sa isang mababaw na bandehang may konting mantika, 
                ilagay sa steamer at pasinagawan ng 20 minuto sa mataas na init o hanggang maluto at lumambot.</li>
              <li>Alisin mula sa bandeha ang lutong Puto Bumbong, hiwain at iporma ito ng maliit na pabilog, 
                ilagay sa taas ng dahon ng saging at pahiran ng margarine sa taas, budburan din ng ginutay-gutay na buko at askual 
                o muscovado at ihain.</li>
            </ol>
          </div>

           
          <br><br><br><br><br>
  <ion-button color="primary" class="btn1" expand="block"><ion-icon slot="start" name="print-sharp">Print PDF</ion-icon></ion-button>
  </ion-content>